._107vi3ms8o001 {
    margin: 0px 0px 0px 0px;
}

._107vi3ms8o001.zz-comp-block-wrap {
    min-height: auto;
}

._107vi3ms8o001 > .zz-bg > .zz-bg-color, ._107vi3ms8o001 .fp-tableCell > .zz-bg > .zz-bg-color {
    background: rgba(13, 13, 13, 1);
}

._107vi3ms8o001 .zz-container {
    padding: 0px 160px 0px 160px;
}

._107vi3ms8o003 {
    border: 0px solid #000;
    padding: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
}

._107vi3ms8o003 > .zz-comp-row {
    margin: 0 -0px;
}

._107vi3ms8o003 > .zz-comp-row > .zz-column {
    padding: 0 0px;
}

._107vi3ms8o004 {
    border: 0px solid #000;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
    align-items: center;
}

._107vi3ms8o004 > .zz-bg {
    border-radius: 0px 0px 0px 0px;
}

._107vi3ms8o005.zz-comp-logo {
    justify-content: flex-start;
}

._107vi3ms8o005 .logo__wrapper h1 {
    color: rgba(195, 3, 32, 1);
    font-size: 28px;
}

._107vi3ms8o006 {
    border: 0px solid #000;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
    align-items: flex-start;
}

._107vi3ms8o006 > .zz-bg {
    border-radius: 0px 0px 0px 0px;
}

._107vi3ms8o007 .menu-link {
    color: #909399;
}

._107vi3ms8o007 li.is-active > .menu-link {
    color: rgba(77, 79, 82, 1);
}

._107vi3ms8o007 li .menu-link:hover {
    color: rgba(77, 79, 82, 1);
    background-color: #fff;
}

._107vi3ms8o007.zz-comp-menu .zz-menu-item, ._107vi3ms8o007.zz-comp-menu .zz-submenu .menu-link {
    font-size: 14px;
    height: 4.2rem;
}

._107vi3ms8o007 > ul.zz-menu--vertical > li:not(:last-child) {
    border-bottom-width: 1px;
    border-bottom-style: none;
    border-bottom-color: #000;
}

._107vi3ms8o007 > ul.zz-menu--horizontal > li:not(:last-child) {
    border-right-width: 1px;
    border-right-style: none;
    border-right-color: #000;
}

._107vi3ms8o007 .zz-menu-item .menu-link, ._107vi3ms8o007 .zz-submenu .menu-link {
    padding: 0 1.65rem;
}

._107vi3ms8o007 .zz-menu--vertical .menu-link {
    justify-content: flex-end;
}

._107vi3ms8o007 > ul {
    justify-content: flex-end;
}

._107vi3ms8o007 .zz-menu--popup .menu-link {
    font-size: 14px;
}

._107vi3ms8o007 .menu-link {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: transparent;
}

._107vi3ms8o007 .is-active > .menu-link {
    border-bottom-color: #333;
}

._107vi3ms8o008 .menu-link {
    color: #909399;
}

._107vi3ms8o008 li.is-active > .menu-link {
    color: #303133;
}

._107vi3ms8o008 li .menu-link:hover {
    color: #303133;
    background-color: #fff;
}

._107vi3ms8o008.zz-comp-menu .zz-menu-item, ._107vi3ms8o008.zz-comp-menu .zz-submenu .menu-link {
    font-size: 14px;
    height: 4.2rem;
}

._107vi3ms8o008 > ul.zz-menu--vertical > li:not(:last-child) {
    border-bottom-width: 1px;
    border-bottom-style: none;
    border-bottom-color: #000;
}

._107vi3ms8o008 > ul.zz-menu--horizontal > li:not(:last-child) {
    border-right-width: 1px;
    border-right-style: none;
    border-right-color: #000;
}

._107vi3ms8o008 .zz-menu-item .menu-link, ._107vi3ms8o008 .zz-submenu .menu-link {
    padding: 0 1.65rem;
}

._107vi3ms8o008 .zz-menu--vertical .menu-link {
    justify-content: flex-end;
}

._107vi3ms8o008 > ul {
    justify-content: flex-end;
}

._107vi3ms8o008 .zz-menu--popup .menu-link {
    font-size: 14px;
}

._107vi3ms8o008 .menu-link {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: transparent;
}

._107vi3ms8o008 .is-active > .menu-link {
    border-bottom-color: #333;
}

._107vi3ms8o009 .menu-link {
    color: #909399;
}

._107vi3ms8o009 li.is-active > .menu-link {
    color: rgba(195, 3, 32, 1);
}

._107vi3ms8o009 li .menu-link:hover {
    color: rgba(195, 3, 32, 1);
    background-color: rgba(0, 0, 0, 0);
}

._107vi3ms8o009.zz-comp-menu .zz-menu-item, ._107vi3ms8o009.zz-comp-menu .zz-submenu .menu-link {
    font-size: 14px;
    height: 5rem;
}

._107vi3ms8o009 > ul.zz-menu--vertical > li:not(:last-child) {
    border-bottom-width: 1px;
    border-bottom-style: none;
    border-bottom-color: #000;
}

._107vi3ms8o009 > ul.zz-menu--horizontal > li:not(:last-child) {
    border-right-width: 1px;
    border-right-style: none;
    border-right-color: #000;
}

._107vi3ms8o009 .zz-menu-item .menu-link, ._107vi3ms8o009 .zz-submenu .menu-link {
    padding: 0 2rem;
}

._107vi3ms8o009 .zz-menu--vertical .menu-link {
    justify-content: center;
}

._107vi3ms8o009 > ul {
    justify-content: center;
}

._107vi3ms8o009 .zz-menu--popup .menu-link {
    font-size: 14px;
}

._107vi3ms8o009 .menu-link {
    border-bottom-width: 0px;
    border-bottom-style: solid;
    border-bottom-color: transparent;
}

._107vi3ms8o009 .is-active > .menu-link {
    border-bottom-color: #333;
}

._107vi3ms8o00a .nav__wrapper {
    background-color: #fff;
}

._107vi3ms8o00a .menu-list {
    background-color: #fff;
}

._107vi3ms8o00a .nav-btn i, ._107vi3ms8o00a .menu-list .close i {
    color: #333;
}

._107vi3ms8o00a .nav-btn i em, ._107vi3ms8o00a .nav-btn i:before, ._107vi3ms8o00a .nav-btn i:after {
    background-color: #333;
}

._107vi3ms8o00c .menu-link {
    color: #909399;
}

._107vi3ms8o00c li.is-active > .menu-link {
    color: #303133;
}

._107vi3ms8o00c li .menu-link:hover {
    color: #303133;
    background-color: #fff;
}

._107vi3ms8o00c.zz-comp-menu .zz-menu-item, ._107vi3ms8o00c.zz-comp-menu .zz-submenu .menu-link {
    font-size: 14px;
    height: 4rem;
}

._107vi3ms8o00c > ul.zz-menu--vertical > li:not(:last-child) {
    border-bottom-width: 1px;
    border-bottom-style: none;
    border-bottom-color: #000;
}

._107vi3ms8o00c > ul.zz-menu--horizontal > li:not(:last-child) {
    border-right-width: 1px;
    border-right-style: none;
    border-right-color: #000;
}

._107vi3ms8o00c .zz-menu-item .menu-link, ._107vi3ms8o00c .zz-submenu .menu-link {
    padding: 0 1.65rem;
}

._107vi3ms8o00c .zz-menu--vertical .menu-link {
    justify-content: flex-start;
}

._107vi3ms8o00c > ul {
    justify-content: flex-start;
}

._107vi3ms8o00c .zz-menu--popup .menu-link {
    font-size: 14px;
}

._107vi3ms8o00c .menu-link {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: transparent;
}

._107vi3ms8o00c .is-active > .menu-link {
    border-bottom-color: #333;
}

._108803j4go000 {
    border: 0px solid #000;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
    align-items: flex-start;
}

._108803j4go000 > .zz-bg {
    border-radius: 0px 0px 0px 0px;
}

._1088050cko000 {
    padding: 0px 0px 0px 0px;
}

._1088050cko000 > .zz-text, ._1088050cko000 > .zz-text > p {
    text-align: right;
    color: rgba(195, 3, 32, 1);
    font-family: Helvetica Neue;
    font-size: 24px;
    line-height: 2.8;
}

._107vi3n78o008 {
    margin: 0px 0px 0px 0px;
}

._107vi3n78o008.zz-comp-block-wrap {
    min-height: auto;
}

._107vi3n78o008 > .zz-bg > .zz-bg-color, ._107vi3n78o008 .fp-tableCell > .zz-bg > .zz-bg-color {
    background: rgba(246, 249, 255, 1);
}

._107vi3n78o008 .zz-container {
    padding: 0px 0px 0px 0px;
}

._107vi3n78o00b .zz-comp-list__item .apply-time div {
    color: #999;
    font-size: 14px;
    padding: 10px 0px 10px 0px;
}

._107vi3n78o00b .zz-comp-list {
    margin-left: -20px;
    margin-right: -20px;
}

._107vi3n78o00b {
    padding: 0px 160px 0px 160px;
}

._107vi3n78o00b .zz-comp-list__item .text {
    padding: 20px 20px 20px 20px;
}

._107vi3n78o00b .zz-comp-list__item .do-img-cover {
    justify-content: center;
}

._107vi3n78o00b .zz-comp-list__item > .zz-element-wrapper > .text .title, ._107vi3n78o00b .zz-comp-list__item > .zz-element-wrapper > .text .title > * {
    color: rgba(51, 51, 51, 1);
    font-size: 18px;
    line-height: 3;
    text-align: left;
}

._107vi3n78o00b .zz-comp-list__item > .zz-element-wrapper > .text .des {
    color: rgba(153, 153, 153, 1);
    font-size: 14px;
    line-height: 1.6;
    text-align: left;
}

._107vi3n78o00b .zz-comp-list__item {
    padding: 20px;
    margin: 0;
}

._107vi3n78o00b .zz-comp-list__item > .zz-element-wrapper {
    border: 0px solid #000;
    padding: 0px 0px 0px 0px;
    background: rgba(255, 255, 255, 1);
    border-radius: 0px 0px 0px 0px;
}

._107vi3n78o00b .swiper-pagination-bullet {
    height: 12px;
    line-height: 12px;
    width: 12px;
}

._107vi3n78o00b .custom .swiper-pagination-bullet {
    width: 12px;
    height: 4px;
}

._107vi3n78o00b .custom3 .swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 24px;
    border-radius: 6px;
}

._107vi3n78o00b .swiper-center .swiper-button-prev, ._107vi3n78o00b .swiper-center .swiper-button-next, ._107vi3n78o00b .arrow-normal .swiper-button-prev, ._107vi3n78o00b .arrow-normal .swiper-button-next {
    margin-top: -21px;
}

._107vi3n78o00b .zz-comp-list__item .img img {
    width: 100%;
    object-fit: cover;
}

._107vi3n78o00b .zz-comp-list__item > .zz-element-wrapper > .img {
    border-radius: 0px;
}

._107vi3n78o00b .zz-comp-list__item.is-left > .zz-element-wrapper > .img, ._107vi3n78o00b .zz-comp-list__item.is-right > .zz-element-wrapper > .img {
    width: 32.20338983050847%;
}

._107vi3n78o00b .zz-comp-list__item > .zz-element-wrapper > .text .title > .content {
    -webkit-line-clamp: 1;
}

._107vi3n78o00b .zz-comp-list__item > .zz-element-wrapper > .text .des > .content {
    -webkit-line-clamp: 2;
}

._107vi3n78o00b .swiper-pagination-bullet {
    font-size: 12px;
}

._107vi3n78o00b .swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
    background-color: #333;
}

._107vi3n78o00b .swiper-pagination-bullet-active {
    color: #fff;
}

._107vi3n78o00b .swiper-pagination-fraction {
    font-size: 12px;
}

._107vi3n78o00b .swiper-pagination-current {
    color: #fff;
}

._107vi3n78o00b .swiper-pagination-progressbar {
    background: #333;
}

._107vi3n78o00b .zz-swiper-wrapper .swiper-pagination:not(.swiper-pagination-progressbar) {
    position: relative;
    margin-top: 30px;
}

._107vi3n78o00b svg, ._107vi3n78o00b path {
    width: 42px;
    height: 42px;
    fill: #333;
}

._109tt27poo000 {
    margin: 0px 0px 0px 0px;
}

._109tt27poo000.zz-comp-block-wrap {
    min-height: auto;
}

._109tt27poo000 > .zz-bg > .zz-bg-img, ._109tt27poo000 .fp-tableCell > .zz-bg > .zz-bg-img {
    background-image: url(http://s-10304.p.cdn-static.cn/10304_15680100904874.jpg?imageView2/2/w/2000/q/75);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-size: cover;
}

._109tt27poo000 .zz-container {
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    line-height: 1.5;
    padding: 20px 20px 20px 20px;
}

._10g04ukis8000 {
    padding: 0px 0px 0px 0px;
}

._10g04ukis8000 > .zz-text, ._10g04ukis8000 > .zz-text > p {
    text-align: center;
    color: rgba(255, 255, 255, 1);
    font-family: PingFang SC;
    font-size: 36px;
    line-height: 1;
}

._10g04vsdgo000 {
    padding: 0px 0px 0px 0px;
}

._10g04vsdgo000 > .zz-text, ._10g04vsdgo000 > .zz-text > p {
    text-align: center;
    color: rgba(204, 204, 204, 1);
    font-family: PingFang SC;
    font-size: 18px;
    line-height: 1;
}

._107vi3mu4o001 {
    margin: 0px 0px 0px 0px;
}

._107vi3mu4o001.zz-comp-block-wrap {
    min-height: auto;
}

._107vi3mu4o001 > .zz-bg > .zz-bg-color, ._107vi3mu4o001 .fp-tableCell > .zz-bg > .zz-bg-color {
    background: rgba(23, 23, 23, 1);
}

._107vi3mu4o001 .zz-container {
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    line-height: 1.5;
    padding: 10px 20px 10px 20px;
}

._107vi3mu4o003 {
    padding: 0px 0px 0px 0px;
}

._107vi3mu4o003 > .zz-text, ._107vi3mu4o003 > .zz-text > p {
    text-align: left;
    color: rgba(153, 153, 153, 1);
    font-size: 14px;
    line-height: 1.5;
}

._108kbb654o000 {
    margin: 0px 0px 0px 0px;
}

._108kbb654o000.zz-comp-block-wrap {
    min-height: auto;
}

._108kbb654o000 > .zz-bg > .zz-bg-color, ._108kbb654o000 .fp-tableCell > .zz-bg > .zz-bg-color {
    background: rgba(0, 0, 0, 1);
}

._108kbb654o000 .zz-container {
    padding: 0px 0px 0px 0px;
}

._108kbb654o003 {
    border: 0px solid #000;
    padding: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
}

._108kbb654o003 > .zz-comp-row {
    margin: 0 -15px;
}

._108kbb654o003 > .zz-comp-row > .zz-column {
    padding: 0 15px;
}

._108kbb654o004 {
    border: 0px solid #000;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
    align-items: flex-start;
}

._108kbb654o004 > .zz-bg {
    border-radius: 0px 0px 0px 0px;
}

._108kbb654o005 {
    border: 0px solid #000;
    padding: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
}

._108kbb654o005 > .zz-comp-row {
    margin: 0 -15px;
}

._108kbb654o005 > .zz-comp-row > .zz-column {
    padding: 0 15px;
}

._108kbb654o006 {
    border: 0px solid #000;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
    align-items: flex-start;
}

._108kbb654o006 > .zz-bg {
    border-radius: 0px 0px 0px 0px;
}

._108kbb654o007 {
    border: 0px solid #000;
    padding: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
}

._108kbb654o007 > .zz-comp-row {
    margin: 0 -15px;
}

._108kbb654o007 > .zz-comp-row > .zz-column {
    padding: 0 15px;
}

._108kbb654o008 {
    border: 0px solid #000;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
    align-items: flex-start;
}

._108kbb654o008 > .zz-bg {
    border-radius: 0px 0px 0px 0px;
}

._108kbb654o009 {
    padding: 0px 0px 20px 0px;
}

._108kbb654o009 > .zz-text, ._108kbb654o009 > .zz-text > p {
    text-align: left;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    line-height: 1.5;
}

._108kbb654o00a {
    padding: 0px 0px 6px 0px;
}

._108kbb654o00a > .zz-text, ._108kbb654o00a > .zz-text > p {
    text-align: left;
    color: rgba(153, 153, 153, 1);
    font-size: 14px;
    line-height: 1.5;
}

._108kbb654o00b {
    padding: 0px 0px 0px 0px;
}

._108kbb654o00b > .zz-text, ._108kbb654o00b > .zz-text > p {
    text-align: left;
    color: rgba(153, 153, 153, 1);
    font-size: 14px;
    line-height: 1.5;
}

._108kbb654o00c {
    border: 0px solid #000;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
    align-items: flex-start;
}

._108kbb654o00c > .zz-bg {
    border-radius: 0px 0px 0px 0px;
}

._108kbb654o00d {
    padding: 0px 0px 20px 0px;
}

._108kbb654o00d > .zz-text, ._108kbb654o00d > .zz-text > p {
    text-align: left;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    line-height: 1.5;
}

._108kbb654o00e {
    padding: 0px 0px 6px 0px;
}

._108kbb654o00e > .zz-text, ._108kbb654o00e > .zz-text > p {
    text-align: left;
    color: rgba(153, 153, 153, 1);
    font-size: 14px;
    line-height: 1.5;
}

._108kbb654o00f {
    padding: 0px 0px 6px 0px;
}

._108kbb654o00f > .zz-text, ._108kbb654o00f > .zz-text > p {
    text-align: left;
    color: rgba(153, 153, 153, 1);
    font-size: 14px;
    line-height: 1.5;
}

._108kbb654o00g {
    padding: 0px 0px 6px 0px;
}

._108kbb654o00g > .zz-text, ._108kbb654o00g > .zz-text > p {
    text-align: left;
    color: rgba(153, 153, 153, 1);
    font-size: 14px;
    line-height: 1.5;
}

._108kbb654o00h {
    border: 0px solid #000;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
    align-items: flex-start;
}

._108kbb654o00h > .zz-bg {
    border-radius: 0px 0px 0px 0px;
}

._108kbb654o00i {
    border: 0px solid #000;
    padding: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
}

._108kbb654o00i > .zz-comp-row {
    margin: 0 -15px;
}

._108kbb654o00i > .zz-comp-row > .zz-column {
    padding: 0 15px;
}

._108kbb654o00j {
    border: 0px solid #000;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
    align-items: flex-start;
}

._108kbb654o00j > .zz-bg {
    border-radius: 0px 0px 0px 0px;
}

._108kbb654o00k {
    padding: 0px 0px 20px 0px;
}

._108kbb654o00k > .zz-text, ._108kbb654o00k > .zz-text > p {
    text-align: left;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    line-height: 1.5;
}

._108kbb654o00l {
    padding: 0px 0px 6px 0px;
}

._108kbb654o00l > .zz-text, ._108kbb654o00l > .zz-text > p {
    text-align: left;
    color: rgba(153, 153, 153, 1);
    font-size: 14px;
    line-height: 1.5;
}

._108kbb654o00m {
    border: 0px solid #000;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
    align-items: flex-start;
}

._108kbb654o00m > .zz-bg {
    border-radius: 0px 0px 0px 0px;
}

._108kbb654o00n {
    padding: 0px 0px 20px 0px;
}

._108kbb654o00n > .zz-text, ._108kbb654o00n > .zz-text > p {
    text-align: left;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    line-height: 1.5;
}

._108kbb654o00o {
    padding: 0px 0px 6px 0px;
}

._108kbb654o00o > .zz-text, ._108kbb654o00o > .zz-text > p {
    text-align: left;
    color: rgba(153, 153, 153, 1);
    font-size: 14px;
    line-height: 1.5;
}

._108kbb654o00p {
    border: 0px solid #000;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
    align-items: flex-start;
}

._108kbb654o00p > .zz-bg {
    border-radius: 0px 0px 0px 0px;
}

._108kbb654o00q {
    border: 0px solid #000;
    padding: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
}

._108kbb654o00q > .zz-comp-row {
    margin: 0 -15px;
}

._108kbb654o00q > .zz-comp-row > .zz-column {
    padding: 0 15px;
}

._108kbb654o00r {
    border: 0px solid #000;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
    align-items: flex-start;
}

._108kbb654o00r > .zz-bg {
    border-radius: 0px 0px 0px 0px;
}

._108kbb654o00s {
    border-right: 1px solid rgba(255, 255, 255, 0.6);
    padding: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
}

._108kbb654o00s > .zz-comp-row {
    margin: 0 -15px;
}

._108kbb654o00s > .zz-comp-row > .zz-column {
    padding: 0 15px;
}

._108kbb654o00t {
    border: 0px solid #000;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
    align-items: flex-start;
}

._108kbb654o00t > .zz-bg {
    border-radius: 0px 0px 0px 0px;
}

._108kbb654o00u {
    border: 0px solid #000;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
    align-items: flex-start;
}

._108kbb654o00u > .zz-bg {
    border-radius: 0px 0px 0px 0px;
}

._108kbb654o00v {
    border: 0px solid #000;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
    align-items: flex-start;
}

._108kbb654o00v > .zz-bg {
    border-radius: 0px 0px 0px 0px;
}

._108kbb654o010 {
    padding: 0px 0px 0px 0px;
}

._108kbb654o010 > .zz-text, ._108kbb654o010 > .zz-text > p {
    text-align: left;
    color: rgba(153, 153, 153, 1);
    font-size: 14px;
    line-height: 1;
}

._108kbb654o011 {
    padding: 0px 0px 0px 0px;
}

._108kbb654o011 > .zz-text, ._108kbb654o011 > .zz-text > p {
    text-align: left;
    color: rgba(255, 255, 255, 1);
    font-family: Helvetica Neue;
    font-size: 22px;
    line-height: 1.5;
}

._108kbb654o012 {
    border: 0px solid #000;
    padding: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
}

._108kbb654o012 > .zz-comp-row {
    margin: 0 -15px;
}

._108kbb654o012 > .zz-comp-row > .zz-column {
    padding: 0 15px;
}

._108kbb654o013 {
    border: 0px solid #000;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
    align-items: flex-start;
}

._108kbb654o013 > .zz-bg {
    border-radius: 0px 0px 0px 0px;
}

._108kbb654o014 .zz-comp-list__item .apply-time div {
    color: #999;
    font-size: 12px;
    padding: 10px 0px 10px 0px;
}

._108kbb654o014 .zz-comp-list {
    margin-left: -12px;
    margin-right: -12px;
}

._108kbb654o014 {
    padding: 0px 0px 0px 0px;
}

._108kbb654o014 .zz-comp-list__item .text {
    padding: 10px 10px 10px 10px;
}

._108kbb654o014 .zz-comp-list__item .do-img-cover {
    justify-content: flex-start;
}

._108kbb654o014 .zz-comp-list__item > .zz-element-wrapper > .text .title, ._108kbb654o014 .zz-comp-list__item > .zz-element-wrapper > .text .title > * {
    color: #333;
    font-size: 18px;
    line-height: 1.5;
    text-align: left;
}

._108kbb654o014 .zz-comp-list__item > .zz-element-wrapper > .text .des {
    color: #999;
    font-size: 14px;
    line-height: 1.5;
    text-align: inherit;
}

._108kbb654o014 .zz-comp-list__item {
    padding: 12px;
    margin: 0;
}

._108kbb654o014 .zz-comp-list__item > .zz-element-wrapper {
    border: 0px solid #000;
    padding: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
}

._108kbb654o014 .swiper-pagination-bullet {
    height: 12px;
    line-height: 12px;
    width: 12px;
}

._108kbb654o014 .custom .swiper-pagination-bullet {
    width: 12px;
    height: 4px;
}

._108kbb654o014 .custom3 .swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 24px;
    border-radius: 6px;
}

._108kbb654o014 .swiper-center .swiper-button-prev, ._108kbb654o014 .swiper-center .swiper-button-next, ._108kbb654o014 .arrow-normal .swiper-button-prev, ._108kbb654o014 .arrow-normal .swiper-button-next {
    margin-top: -21px;
}

._108kbb654o014 .zz-comp-list__item .img img {
    width: 29%;
    object-fit: contain;
}

._108kbb654o014 .zz-comp-list__item > .zz-element-wrapper > .img {
    border-radius: 0px;
}

._108kbb654o014 .zz-comp-list__item.is-left > .zz-element-wrapper > .img, ._108kbb654o014 .zz-comp-list__item.is-right > .zz-element-wrapper > .img {
    width: 50%;
}

._108kbb654o014 svg, ._108kbb654o014 path {
    width: 42px;
    height: 42px;
    fill: #333;
}

._108kbb654o016 {
    border: 0px solid #000;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
    align-items: flex-start;
}

._108kbb654o016 > .zz-bg {
    border-radius: 0px 0px 0px 0px;
}

._108kbb654o017 .zz-comp-list__item .apply-time div {
    color: #999;
    font-size: 12px;
    padding: 10px 0px 10px 0px;
}

._108kbb654o017 .zz-comp-list {
    margin-left: -12px;
    margin-right: -12px;
}

._108kbb654o017 {
    padding: 0px 0px 0px 0px;
}

._108kbb654o017 .zz-comp-list__item .text {
    padding: 10px 10px 10px 10px;
}

._108kbb654o017 .zz-comp-list__item .do-img-cover {
    justify-content: flex-start;
}

._108kbb654o017 .zz-comp-list__item > .zz-element-wrapper > .text .title, ._108kbb654o017 .zz-comp-list__item > .zz-element-wrapper > .text .title > * {
    color: #333;
    font-size: 18px;
    line-height: 1.5;
    text-align: left;
}

._108kbb654o017 .zz-comp-list__item > .zz-element-wrapper > .text .des {
    color: #999;
    font-size: 14px;
    line-height: 1.5;
    text-align: inherit;
}

._108kbb654o017 .zz-comp-list__item {
    padding: 12px;
    margin: 0;
}

._108kbb654o017 .zz-comp-list__item > .zz-element-wrapper {
    border: 0px solid #000;
    padding: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
}

._108kbb654o017 .swiper-pagination-bullet {
    height: 12px;
    line-height: 12px;
    width: 12px;
}

._108kbb654o017 .custom .swiper-pagination-bullet {
    width: 12px;
    height: 4px;
}

._108kbb654o017 .custom3 .swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 24px;
    border-radius: 6px;
}

._108kbb654o017 .swiper-center .swiper-button-prev, ._108kbb654o017 .swiper-center .swiper-button-next, ._108kbb654o017 .arrow-normal .swiper-button-prev, ._108kbb654o017 .arrow-normal .swiper-button-next {
    margin-top: -21px;
}

._108kbb654o017 .zz-comp-list__item .img img {
    width: 30%;
    object-fit: contain;
}

._108kbb654o017 .zz-comp-list__item > .zz-element-wrapper > .img {
    border-radius: 0px;
}

._108kbb654o017 .zz-comp-list__item.is-left > .zz-element-wrapper > .img, ._108kbb654o017 .zz-comp-list__item.is-right > .zz-element-wrapper > .img {
    width: 50%;
}

._108kbb654o017 svg, ._108kbb654o017 path {
    width: 42px;
    height: 42px;
    fill: #333;
}

@media (min-width: 768px) and (max-width: 1199px) {
    ._107vi3ms8o001 {
        margin: 0px 0px 0px 0px;
    }

    ._107vi3ms8o001.zz-comp-block-wrap {
        min-height: auto;
    }

    ._107vi3ms8o001 > .zz-bg > .zz-bg-color, ._107vi3ms8o001 .fp-tableCell > .zz-bg > .zz-bg-color {
        background: rgba(13, 13, 13, 1);
    }

    ._107vi3ms8o001 .zz-container {
        padding: 0px 40px 0px 40px;
    }

    ._107vi3ms8o009 .menu-link {
        color: #909399;
    }

    ._107vi3ms8o009 li.is-active > .menu-link {
        color: rgba(195, 3, 32, 1);
    }

    ._107vi3ms8o009 li .menu-link:hover {
        color: rgba(195, 3, 32, 1);
        background-color: rgba(0, 0, 0, 0);
    }

    ._107vi3ms8o009.zz-comp-menu .zz-menu-item, ._107vi3ms8o009.zz-comp-menu .zz-submenu .menu-link {
        font-size: 14px;
        height: 5rem;
    }

    ._107vi3ms8o009 > ul.zz-menu--vertical > li:not(:last-child) {
        border-bottom-width: 1px;
        border-bottom-style: none;
        border-bottom-color: #000;
    }

    ._107vi3ms8o009 > ul.zz-menu--horizontal > li:not(:last-child) {
        border-right-width: 1px;
        border-right-style: none;
        border-right-color: #000;
    }

    ._107vi3ms8o009 .zz-menu-item .menu-link, ._107vi3ms8o009 .zz-submenu .menu-link {
        padding: 0 1.4rem;
    }

    ._107vi3ms8o009 .zz-menu--vertical .menu-link {
        justify-content: center;
    }

    ._107vi3ms8o009 > ul {
        justify-content: center;
    }

    ._107vi3ms8o009 .zz-menu--popup .menu-link {
        font-size: 14px;
    }

    ._107vi3ms8o009 .menu-link {
        border-bottom-width: 0px;
        border-bottom-style: solid;
        border-bottom-color: transparent;
    }

    ._107vi3ms8o009 .is-active > .menu-link {
        border-bottom-color: #333;
    }

    ._107vi3n78o008:not(.zz-block-widthFull) .zz-container {
        padding: 0 15px;
    }

    ._109tt27poo000:not(.zz-block-widthFull) .zz-container {
        padding: 0 15px;
    }

    ._107vi3mu4o001:not(.zz-block-widthFull) .zz-container {
        padding: 0 15px;
    }

    ._108kbb654o000:not(.zz-block-widthFull) .zz-container {
        padding: 0 15px;
    }
}

@media (max-width: 767px) {
    ._107vi3ms8o001 {
        margin: 0px 0px 0px 0px;
    }

    ._107vi3ms8o001.zz-comp-block-wrap {
        min-height: auto;
    }

    ._107vi3ms8o001 .zz-container {
        color: rgba(0, 0, 0, 1);
        font-size: 14px;
        line-height: 1.5;
        padding: 20px 20px 20px 20px;
    }

    ._107vi3ms8o00c .menu-link {
        color: #909399;
    }

    ._107vi3ms8o00c li.is-active > .menu-link {
        color: #303133;
    }

    ._107vi3ms8o00c li .menu-link:hover {
        color: #303133;
        background-color: #fff;
    }

    ._107vi3ms8o00c.zz-comp-menu .zz-menu-item, ._107vi3ms8o00c.zz-comp-menu .zz-submenu .menu-link {
        font-size: 14px;
        height: 4.2rem;
    }

    ._107vi3ms8o00c > ul.zz-menu--vertical > li:not(:last-child) {
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: rgba(238, 238, 238, 1);
    }

    ._107vi3ms8o00c > ul.zz-menu--horizontal > li:not(:last-child) {
        border-right-width: 1px;
        border-right-style: solid;
        border-right-color: rgba(238, 238, 238, 1);
    }

    ._107vi3ms8o00c .zz-menu-item .menu-link, ._107vi3ms8o00c .zz-submenu .menu-link {
        padding: 0 1rem;
    }

    ._107vi3ms8o00c .zz-menu--vertical .menu-link {
        justify-content: center;
    }

    ._107vi3ms8o00c > ul {
        justify-content: center;
    }

    ._107vi3ms8o00c .zz-menu--popup .menu-link {
        font-size: 14px;
    }

    ._107vi3ms8o00c .menu-link {
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: transparent;
    }

    ._107vi3ms8o00c .is-active > .menu-link {
        border-bottom-color: #333;
    }

    ._107vi3n78o008:not(.zz-block-widthFull) .zz-container {
        padding: 0 15px;
    }

    ._107vi3n78o00b .zz-comp-list__item .apply-time div {
        color: #999;
        font-size: 14px;
        padding: 10px 0px 10px 0px;
    }

    ._107vi3n78o00b .zz-comp-list {
        margin-left: -10px;
        margin-right: -10px;
    }

    ._107vi3n78o00b {
        padding: 0px 0px 0px 0px;
    }

    ._107vi3n78o00b .zz-comp-list__item .text {
        padding: 0px 0px 0px 0px;
    }

    ._107vi3n78o00b .zz-comp-list__item .do-img-cover {
        justify-content: center;
    }

    ._107vi3n78o00b .zz-comp-list__item > .zz-element-wrapper > .text .title, ._107vi3n78o00b .zz-comp-list__item > .zz-element-wrapper > .text .title > * {
        color: rgba(51, 51, 51, 1);
        font-size: 18px;
        line-height: 3.3;
        text-align: left;
    }

    ._107vi3n78o00b .zz-comp-list__item > .zz-element-wrapper > .text .des {
        color: rgba(153, 153, 153, 1);
        font-size: 14px;
        line-height: 3.7;
        text-align: left;
    }

    ._107vi3n78o00b .zz-comp-list__item {
        padding: 10px;
        margin: 0;
    }

    ._107vi3n78o00b .zz-comp-list__item > .zz-element-wrapper {
        border-bottom: 1px solid rgba(238, 238, 238, 1);
        padding: 0px 0px 20px 0px;
        border-radius: 0px 0px 0px 0px;
    }

    ._107vi3n78o00b .swiper-pagination-bullet {
        height: 12px;
        line-height: 12px;
        width: 12px;
    }

    ._107vi3n78o00b .custom .swiper-pagination-bullet {
        width: 12px;
        height: 4px;
    }

    ._107vi3n78o00b .custom3 .swiper-pagination-bullet.swiper-pagination-bullet-active {
        width: 24px;
        border-radius: 6px;
    }

    ._107vi3n78o00b .swiper-center .swiper-button-prev, ._107vi3n78o00b .swiper-center .swiper-button-next, ._107vi3n78o00b .arrow-normal .swiper-button-prev, ._107vi3n78o00b .arrow-normal .swiper-button-next {
        margin-top: -21px;
    }

    ._107vi3n78o00b .zz-comp-list__item .img img {
        width: 100%;
        object-fit: cover;
    }

    ._107vi3n78o00b .zz-comp-list__item > .zz-element-wrapper > .img {
        border-radius: 0px;
    }

    ._107vi3n78o00b .zz-comp-list__item.is-left > .zz-element-wrapper > .img, ._107vi3n78o00b .zz-comp-list__item.is-right > .zz-element-wrapper > .img {
        width: 32.32876712328767%;
    }

    ._107vi3n78o00b .zz-pagination li.active, ._107vi3n78o00b .zz-pagination li:hover, ._107vi3n78o00b button:hover {
        color: #409EFF;
    }

    ._107vi3n78o00b .zz-comp-list__item > .zz-element-wrapper > .text .title > .content {
        -webkit-line-clamp: 1;
    }

    ._107vi3n78o00b .zz-comp-list__item > .zz-element-wrapper > .text .des > .content {
        -webkit-line-clamp: 2;
    }

    ._107vi3n78o00b .swiper-pagination-bullet {
        font-size: 12px;
    }

    ._107vi3n78o00b .swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
        background-color: #333;
    }

    ._107vi3n78o00b .swiper-pagination-bullet-active {
        color: #fff;
    }

    ._107vi3n78o00b .swiper-pagination-fraction {
        font-size: 12px;
    }

    ._107vi3n78o00b .swiper-pagination-current {
        color: #fff;
    }

    ._107vi3n78o00b .swiper-pagination-progressbar {
        background: #333;
    }

    ._107vi3n78o00b .zz-swiper-wrapper .swiper-pagination:not(.swiper-pagination-progressbar) {
        position: relative;
        margin-top: 30px;
    }

    ._107vi3n78o00b svg, ._107vi3n78o00b path {
        width: 42px;
        height: 42px;
        fill: #333;
    }

    ._109tt27poo000:not(.zz-block-widthFull) .zz-container {
        padding: 0 15px;
    }

    ._107vi3mu4o001:not(.zz-block-widthFull) .zz-container {
        padding: 0 15px;
    }

    ._108kbb654o000 {
        margin: 0px 0px 0px 0px;
    }

    ._108kbb654o000.zz-comp-block-wrap {
        min-height: auto;
    }

    ._108kbb654o000 > .zz-bg > .zz-bg-color, ._108kbb654o000 .fp-tableCell > .zz-bg > .zz-bg-color {
        background: rgba(23, 23, 23, 1);
    }

    ._108kbb654o000 .zz-container {
        padding: 0px 0px 0px 0px;
    }

    ._108kbb654o00d {
        padding: 40px 0px 20px 0px;
    }

    ._108kbb654o00d > .zz-text, ._108kbb654o00d > .zz-text > p {
        text-align: left;
        color: rgba(255, 255, 255, 1);
        font-size: 16px;
        line-height: 1.5;
    }

    ._108kbb654o00k {
        padding: 40px 0px 20px 0px;
    }

    ._108kbb654o00k > .zz-text, ._108kbb654o00k > .zz-text > p {
        text-align: left;
        color: rgba(255, 255, 255, 1);
        font-size: 16px;
        line-height: 1.5;
    }

    ._108kbb654o00n {
        padding: 40px 0px 20px 0px;
    }

    ._108kbb654o00n > .zz-text, ._108kbb654o00n > .zz-text > p {
        text-align: left;
        color: rgba(255, 255, 255, 1);
        font-size: 16px;
        line-height: 1.5;
    }

    ._108kbb654o014 .zz-comp-list__item .apply-time div {
        color: #999;
        font-size: 12px;
        padding: 10px 0px 10px 0px;
    }

    ._108kbb654o014 .zz-comp-list {
        margin-left: -12px;
        margin-right: -12px;
    }

    ._108kbb654o014 {
        padding: 0px 0px 0px 0px;
    }

    ._108kbb654o014 .zz-comp-list__item .text {
        padding: 10px 10px 10px 10px;
    }

    ._108kbb654o014 .zz-comp-list__item .do-img-cover {
        justify-content: flex-start;
    }

    ._108kbb654o014 .zz-comp-list__item > .zz-element-wrapper > .text .title, ._108kbb654o014 .zz-comp-list__item > .zz-element-wrapper > .text .title > * {
        color: #333;
        font-size: 18px;
        line-height: 1.5;
        text-align: left;
    }

    ._108kbb654o014 .zz-comp-list__item > .zz-element-wrapper > .text .des {
        color: #999;
        font-size: 14px;
        line-height: 1.5;
        text-align: inherit;
    }

    ._108kbb654o014 .zz-comp-list__item {
        padding: 12px;
        margin: 0;
    }

    ._108kbb654o014 .zz-comp-list__item > .zz-element-wrapper {
        border: 0px solid #000;
        padding: 0px 0px 0px 0px;
        border-radius: 0px 0px 0px 0px;
    }

    ._108kbb654o014 .swiper-pagination-bullet {
        height: 12px;
        line-height: 12px;
        width: 12px;
    }

    ._108kbb654o014 .custom .swiper-pagination-bullet {
        width: 12px;
        height: 4px;
    }

    ._108kbb654o014 .custom3 .swiper-pagination-bullet.swiper-pagination-bullet-active {
        width: 24px;
        border-radius: 6px;
    }

    ._108kbb654o014 .swiper-center .swiper-button-prev, ._108kbb654o014 .swiper-center .swiper-button-next, ._108kbb654o014 .arrow-normal .swiper-button-prev, ._108kbb654o014 .arrow-normal .swiper-button-next {
        margin-top: -21px;
    }

    ._108kbb654o014 .zz-comp-list__item .img img {
        width: 29%;
        object-fit: contain;
    }

    ._108kbb654o014 .zz-comp-list__item > .zz-element-wrapper > .img {
        border-radius: 0px;
    }

    ._108kbb654o014 .zz-comp-list__item.is-left > .zz-element-wrapper > .img, ._108kbb654o014 .zz-comp-list__item.is-right > .zz-element-wrapper > .img {
        width: 50%;
    }

    ._108kbb654o014 svg, ._108kbb654o014 path {
        width: 42px;
        height: 42px;
        fill: #333;
    }

    ._108kbb654o017 .zz-comp-list__item .apply-time div {
        color: #999;
        font-size: 12px;
        padding: 10px 0px 10px 0px;
    }

    ._108kbb654o017 .zz-comp-list {
        margin-left: -12px;
        margin-right: -12px;
    }

    ._108kbb654o017 {
        padding: 0px 0px 0px 0px;
    }

    ._108kbb654o017 .zz-comp-list__item .text {
        padding: 10px 10px 10px 10px;
    }

    ._108kbb654o017 .zz-comp-list__item .do-img-cover {
        justify-content: flex-start;
    }

    ._108kbb654o017 .zz-comp-list__item > .zz-element-wrapper > .text .title, ._108kbb654o017 .zz-comp-list__item > .zz-element-wrapper > .text .title > * {
        color: #333;
        font-size: 18px;
        line-height: 1.5;
        text-align: left;
    }

    ._108kbb654o017 .zz-comp-list__item > .zz-element-wrapper > .text .des {
        color: #999;
        font-size: 14px;
        line-height: 1.5;
        text-align: inherit;
    }

    ._108kbb654o017 .zz-comp-list__item {
        padding: 12px;
        margin: 0;
    }

    ._108kbb654o017 .zz-comp-list__item > .zz-element-wrapper {
        border: 0px solid #000;
        padding: 0px 0px 0px 0px;
        border-radius: 0px 0px 0px 0px;
    }

    ._108kbb654o017 .swiper-pagination-bullet {
        height: 12px;
        line-height: 12px;
        width: 12px;
    }

    ._108kbb654o017 .custom .swiper-pagination-bullet {
        width: 12px;
        height: 4px;
    }

    ._108kbb654o017 .custom3 .swiper-pagination-bullet.swiper-pagination-bullet-active {
        width: 24px;
        border-radius: 6px;
    }

    ._108kbb654o017 .swiper-center .swiper-button-prev, ._108kbb654o017 .swiper-center .swiper-button-next, ._108kbb654o017 .arrow-normal .swiper-button-prev, ._108kbb654o017 .arrow-normal .swiper-button-next {
        margin-top: -21px;
    }

    ._108kbb654o017 .zz-comp-list__item .img img {
        width: 30%;
        object-fit: contain;
    }

    ._108kbb654o017 .zz-comp-list__item > .zz-element-wrapper > .img {
        border-radius: 0px;
    }

    ._108kbb654o017 .zz-comp-list__item.is-left > .zz-element-wrapper > .img, ._108kbb654o017 .zz-comp-list__item.is-right > .zz-element-wrapper > .img {
        width: 50%;
    }

    ._108kbb654o017 svg, ._108kbb654o017 path {
        width: 42px;
        height: 42px;
        fill: #333;
    }
}